      <!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">

  <div class="span4">
      <div class="hero well">
        <h1 class="title">User Agent</h1>
          <p id="userAgent">Javascript: Disabled</p>
      </div>
  </div>

 <div class="span4">
      <div class="hero well">
        <h1>Window Size</h1>
          <p id="windowSize">Javascript: Disabled</p>
      </div>
  </div>
 <div class="span4">
      <div class="hero well">
        <h1>Screen Size</h1>
         <p id="screenSize">Javascript: Disabled</p>
      </div>
  </div>
   <div class="span4">
      <div class="hero well">
        <h1>Operating System</h1>
          <p id="os">Javascript: Disabled</p>
      </div>
  </div>
 <div class="span4">
      <div class="hero well">
        <h1>Web Browser</h1>
        	<p id="browser">Javascript: Disabled</p>
      </div>
  </div>
 <div class="span4">
      <div class="hero well">
        <h1>Flash Enabled</h1>
        	<p id="flashEnabled">Javascript: Disabled</p>
      </div>
  </div>
 <div class="span4">
      <div class="hero well">
        <h1>Date</h1>
          <p id="date">Javascript: Disabled</p>
     </div>
 </div>
 <div class="span4">
      <div class="hero well">
        <h1>IP Address</h1>
          <p>IP Address: <%= request.remote_ip%></p>
     </div>
 </div>
 </div>