      <!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">

    <div class="span6">
      <div class="alert alert-error">
          <div>
            <h1>User Agent</h1>
              <p id="userAgent">Javascript: Disabled</p>
            </div>
        </div>
   </div>

  <div class="span6">
      <div class="alert alert-error">
           <div>
              <h1>Window Size</h1>
                <p id="windowSize">Javascript: Disabled</p>
            </div>
        </div>
      </div>

      <div class="span6">
       <div class="alert alert-error">
            <div>
              <h1>Screen Size</h1>
               <p id="screenSize">Javascript: Disabled</p>
            </div>
        </div>
      </div>

      <div class="span6">
         <div class="alert alert-error">
            <div>
              <h1>Operating System</h1>
                <p id="os">Javascript: Disabled</p>
            </div>
        </div>
      </div>

      <div class="span6">
       <div class="alert alert-error">
            <div>
              <h1>Web Browser</h1>
              	<p id="browser">Javascript: Disabled</p>
            </div>
        </div>
      </div>

      <div class="span6">
       <div class="alert alert-error">
            <div>
              <h1>Flash Enabled</h1>
              	<p id="flashEnabled">Javascript: Disabled</p>
            </div>
        </div>
      </div>

      <div class="span6">
       <div class="alert alert-error">
            <div>
              <h1>Date</h1>
                <p id="date">Javascript: Disabled</p>
           </div>
       </div>
     </div>

     <div class="span6">
       <div class="alert alert-success">
            <div>
              <h1>IP Address</h1>
                <p>IP Address: <%= request.remote_ip%></p>
           </div>
       </div>
     </div>

     <div class="span6">
       <div class="alert alert-error">
            <div>
              <h1>Picture</h1>
              <p id="picture">Error</p>
           </div>
       </div>
     </div>

    <div class="span6">
       <div class="alert alert-error">
            <div>
              <h1>Load Javascript from control site</h1>
              <p id="script">Error</p>
              <script type="text/javascript" src="https://d2b75q7u5jtkag.cloudfront.net/assets/application.js"></script>
       </div>
     </div>

</div>