
      <!-- Main hero unit for a primary marketing message or call to action -->
      <% if flash[:notice] %>
      <div class="row" id="flash" style="padding-left: 30px;">
        <div class"span12">
            <div class="alert alert-success text-center" id="notice">
              <h4><%= flash[:notice] %></h4>
            </div>
          </div>
        </div>
      <% elsif flash[:error] %>
      <div class="row" id="flash">
        <div class="span12">
           <div class="alert alert-error text-center" id="error">
            <h4><%= flash[:error] %></h4>
           </div>
       </div>
     </div>
      <% else %>

      <% end %>
      <div class="row">
        <div class="span6">
          <div class="alert continuity grey">
            <div>
              <h1>User Agent</h1>
              <p id="userAgent">Javascript: Disabled</p>
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="alert continuity grey">
           <div>
            <h1>Window Size</h1>
            <p id="windowSize">Javascript: Disabled</p>
          </div>
        </div>
           </div>

      <div class="span6">
       <div class="alert continuity grey">
        <div>
          <h1>Screen Size</h1>
          <p id="screenSize">Javascript: Disabled</p>
        </div>
      </div>
    </div>

    <div class="span6">
     <div class="alert continuity grey">
      <div>
        <h1>Operating System</h1>
        <p id="os">Javascript: Disabled</p>
      </div>
    </div>
  </div>

  <div class="span6">
   <div class="alert continuity grey">
    <div>
      <h1>Web Browser</h1>
      <p id="browser">Javascript: Disabled</p>
    </div>
  </div>
</div>

  <div class="span6">
   <div class="alert continuity grey">
    <div>
      <h1>Flash Enabled</h1>
      <p id="flashEnabled">Javascript: Disabled</p>
    </div>
  </div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>Date</h1>
    <p id="date">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity alert-success">
  <div>
    <h1>IP Address</h1>
    <p>IP Address: <%= request.remote_ip%></p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>Load data from 3rd party sites</h1>
    <p id="3rdparty">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>Load data from control site(Cloud Front)</h1>
    <p id="continuity">Javascript: Disabled</p>
    <script type="text/javascript" src="https://d2b75q7u5jtkag.cloudfront.net/assets/application.js"></script>
  </div>
</div>
</div>


<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>beacon-1.newrelic.com - JavaScript performance monitoring</h1>
    <p id="newrelic">Javascript: Disabled</p>
  </div>
</div>
</div>


<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>d1ros97qkrwjf5.cloudfront.net - JavaScript performance monitoring</h1>
    <img id="imagecloudfront" style="display:none" src="https://d1apaj9cv0pgu9.cloudfront.net/assets/home/top-stripes.png"></img>
    <p id="cloudfront">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>continuitycontrol.assistly.com - Customer Support</h1>
    <p id="continuity.assistly">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>continuitycontrol.desk.com - Customer Support</h1>
    <p id="continuity.desk">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>control-production.s3-us-gov-west-1.amazonaws.com - GovCloud S3</h1>
    <p id="govcloud">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>*.livechatinc.com (include all subdomains) - Customer Support- </h1>
    <p id="livechatapp">Live Chat App not yet Loaded</p>
    <script type="text/javascript">
      var __lc = {};
          __lc.license = 1089691;
    </script>
    <script src='https://cdn.livechatinc.com/tracking.js'></script>
  </div>
</div>
</div>


<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>sendgrid.continuity.net - E-Mail and communication services-</h1>
    <p id="sendgrid">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>maps-api-ssl.google.com - Google Maps</h1>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <p id="googlemaps">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>continuity.app4.hubspot.com - Site-usage analytics</h1>
    <p id="hubspot">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>google.com/jsapi - Google for CDN of JS libraries</h1>
    <p id="jsapi">Javascript: Disabled</p>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>ssl.google-analytics.com - Site-usage analytics</h1>
    <p id="googleA">Javascript: Disabled</p>
    <script src="https://ssl.google-analytics.com/ga.js"></script>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>maps.googleapis.com - Google APIs</h1>
    <p id="mapsApi">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>maps.gstatic.com - Google APIs</h1>
    <p id="gstaticApi">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>mts0.googleapis.com - Google APIs</h1>
    <p id="mts0Api">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>mts1.googleapis.com - Google APIs</h1>
    <p id="mts1Api">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>seal.qualys.com - Security scan seal</h1>
    <p id="sealqualys">Javascript: Disabled</p>
     <img  id="imagesealqualys" style="display:none" src="//seal.qualys.com/sealserv/seal.gif?i=437b43e2-1d57-4c14-b9a8-361809e14ff8" onclick="window.open('https://seal.qualys.com/sealserv/info/?i=437b43e2-1d57-4c14-b9a8-361809e14ff8','qualysSealInfo', 'height=600,width=851,resizable=1')" />
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>seal.thawte.com - SSL verification seal</h1>
    <p id="sealthawte">Javascript: Disabled</p>
    <script type="text/javascript" src="https://seal.thawte.com/getthawteseal"></script>
  </div>
</div>
</div>

<div class="span6">
 <div class="alert continuity grey">
  <div>
    <h1>d2b75q7u5jtkag.cloudfront.net - Continuity Control's Content CDN</h1>
    <p id="cloudfrontd2">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>s3.amazonaws.com/continuity-production - Content CDN and secure file downloads</h1>
    <p id="s3amazonaws">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>continuity-production.s3.amazonaws.com - Content CDN and secure file downloads</h1>
    <p id="cproduction">Javascript: Disabled</p>
  </div>
</div>
</div>

<div class="span6" style="display:none">
 <div class="alert continuity grey">
  <div>
    <h1>Heoney Badger</h1>
    <p id="honeyBadger">Javascript: Disabled</p>
  </div>
</div>
</div>

</div>


