<div class="row">
  <div class="col-md-12">
    <h2>Browser Info</h2>
    <div class="browser-info"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Connectivity Tests</h2>
    <div class="results"></div>
  </div>
</div>

<script type="text/javascript">
  var __lc = {};
  __lc.license = "<%= ENV['LcLi'] %>";
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31337942-5', 'auto');
  ga('send', 'pageview');
</script>

<script src="//maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="//assets-cdn.continuity.net/assets/application.js"></script>
<script type="text/javascript" src="//assets-cdn.continuity.net/assets/controllers/policy_library.js"></script>
<div id='boxViewTest' data-session-url="<%= @box_view_session_url %>" style="display:none"></div>
