#main-footer {
  @include clearfix();

  background-color: #184C77;
  border-top: 1px solid #054364;
  color: #FFF;

  a { color: #FFF; }
}

#seals {
  @include border-radius(4px);
  float: right;
  margin: 16px;
  background: #FFF;
  padding: 8px;
}

#footer-copyright {
  float: left;
  margin: 16px;
  font-size: 1.3em;
}
