#login_status_bar {
  color: white;
  a { @extend .navbar-link; }
}

#logo_image {
  background: image-url('cc_logos/CC_logo_white.png') no-repeat left center transparent;
  width: 184px;
  height: 90px;
}

@mixin navbar-active {
  @extend .btn:active;
  color: white;
  //background-color: #0a3b55;
  background-color: darken(#0f5a83, 5%);
}
.navbar-continuity {
  border-bottom: 1px solid white;
}
.navbar .brand {
  padding-top: 3px;
  padding-bottom: 3px;
}
.navbar-continuity .navbar-inner {
  @include gradient-vertical(#104273, #21597c);

  border-bottom: 1px solid #054364;
}
.navbar .nav {
  padding-top: 14px;
  > li { position: relative; padding-left: 8px; float: right; }
  > li > a {
    @include buttonBackground(#2175a3, darken(#2175a3, 10%));
    padding: 8px 16px;
  }

  > li > a:active,
  > li > a.active { @include navbar-active; }

  > li > a div {
    padding-left: 36px;
    line-height: 29px;
    background-repeat: no-repeat;
    background-position: left center;
  }
  > li#tab-dashboard > a div { background-image: image-url('button/house.png'); }
  > li#tab-home > a div { background-image: image-url('button/house.png'); }
  > li#tab-report > a div { background-image: image-url('button/clipboard.png'); }
  > li#tab-settings > a div { background-image: image-url('button/gears.png'); }
  > li#tab-todos > a div { background-image: image-url('button/radar.png'); }

  > li#tab-todos img#late-todos-badge { position: absolute; top: -8px; right: -8px; z-index:1;}
}

body.new_layouts .navbar .nav > li#tab-settings,
body#body-todos .navbar .nav > li#tab-todos,
body#body-report .navbar .nav > li#tab-report,
body#body-home .navbar .nav > li#tab-dashboard,
body.smart_folders .navbar .nav > li#tab-settings,
body.groups .navbar .nav > li#tab-settings,
body.control_roles .navbar .nav > li#tab-settings,
body.departments .navbar .nav > li#tab-settings,
body.vendors .navbar .nav > li#tab-settings,
body.systems .navbar .nav > li#tab-settings,
body.locations .navbar .nav > li#tab-settings,
body.importusers .navbar .nav > li#tab-settings,
body.contracts .navbar .nav > li#tab-settings,
body.dropbox_accounts .navbar .nav > li#tab-settings,
body.system_files .navbar .nav > li#tab-settings,
body.vendordocuments .navbar .nav > li#tab-settings,
body.control_users .navbar .nav > li#tab-settings {
  > a,
  > a:active,
  > a.active {
    @include navbar-active;
  }
}

