<p>
  <strong>Date:</strong>
  <%= @user_datum.created_at %>
</p>

<p>
  <strong>IP Address:</strong>
  <%= @user_datum.ip_address %>
</p>

<p>
  <strong>Data:</strong>
  <%= simple_format @user_datum.data %>
</p>
