/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap-responsive";


div.alert.continuity{
    min-height:70px;
    max-height: 70px;
    border-spacing: 20px;
	h1{
		line-height: 10px;
		font-size: 20px;
	}
}
.grey{
    	background-color: #D3D3D3;
    	color: #808080;
    	outline-color: #D3D3D3;
		border: 1px solid #D3D3D3;
    }
div.span6{
	text-align: center;
	padding-bottom: 10px;
}
footer{
	padding-left: 5%;
}