@charset "utf-8";

@import "partials/variables";
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-continuity {
  background-color: #09243f;
  border-bottom: 1px solid $white;
  margin-bottom: 16px;
}

footer {
  background-color: #09243f;
  border-bottom: 1px solid $white;
  color: $white;
  margin-top: 16px;
  padding: 24px;
}

@media (min-width: $screen-md-min) {
  .navbar-continuity {
    background: url(https://assets-cdn.continuity.net/production/assets/header/background-blur.svg) no-repeat center top #06243e;
  }
}

#main-container {
  background-color: $white;
}

.navbar-continuity .navbar-toggle .icon-bar {
  background-color: #fff;
}

.notice {
  border-top: 1px solid $gray-light;
  font-size: $font-size-larger;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 11px 0;
}

.browser-info .text-success {
  @extend .text-info;
}

.browser-info .text-error {
  @extend .text-muted;
}
